body {
	font-family: 'Poppins', sans-serif;
}

.navbar-default {
	background-color: #FFF;
	border: none;
}

.navbar-brand {
	font-family: 'Quicksand', sans-serif;
	font-size: 3rem;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #262626;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus {
	color: #575757;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #262626;
	color: #797EEF;
}

p#footnote {
	color: #AEAEAE;
	letter-spacing: 1px;
	padding-top: 10vh;
}

p.aboutp {
	color: #525252;
	font-size: 2rem;
	font-weight: 300;
	text-align: justify;
	letter-spacing: 2px;
}

p.questionp {
	color: #AEAEAE;
	font-size: 2rem;
	font-weight: 300;
}

section#hero {
	background-color: #8B86FF;
	height: 100vh;
}

section#about {
	padding-top: 8vh;
	padding-bottom: 6vh;
}

section#footer {
	color: #FFF;
	background-color: #3B3B3B;
	padding-top: 10vh;
}

h1#hero1 {
	background-color: rgba(0, 0, 0, 0.04);
	color: #FFF;
	font-weight: 300;
	font-size: 3.2rem;
	letter-spacing: 1.4px;
}

h1#hero2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 4.6rem;
	margin-top: -2.4rem;
	text-align: right;
}

h2.aboutheader {
	color: #525252;
	font-weight: 300;
	letter-spacing: 0.4rem;
}

span.yellow {
	color: #FFAC33;
	font-weight: 700;
}

span#story {
	width: 4rem;
}

img#iphone {
	padding-top: 10vh;
	max-width: 70vw;
}

button#contact {
	color: #FFF;
	font-weight: 300;
	letter-spacing: 0.8px;
	background-color: #FFAC33;
}

@media screen and (min-width: 1280px) {
	.navbar-brand {
		font-size: 3rem;
	}

	.navbar-default {
		background-color: transparent;
	}

	p#footnote {
		letter-spacing: 1px;
		padding-top: 10vh;
	}


	div#get2knowme {
		padding-top: 34vh;
	}

	.aboutpr {
		margin-right: auto;
	}

	.aboutpl {
		margin-left: auto;
	}

	p.aboutp {
		font-size: 2rem;
		letter-spacing: 2px;
		max-width: 28vw;
	}

	p.questionp {
		font-size: 2rem;
	}

	h1#hero1 {
		font-size: 6.2rem;
		letter-spacing: 1.4px;
		margin-right: 172px;
	}

	h1#hero2 {
		font-size: 10rem;
		margin-top: -4.4rem;
	}

	h2.aboutheader {
		font-weight: 300;
		letter-spacing: 1rem;
		max-width: 28vw;
	}

	span#story {
		display:inline-block;
		width: 4rem;
	}

	img#iphone {
		padding-top: 10vh;
	}

	button#contact {
		font-weight: 300;
		letter-spacing: 0.8px;
	}

	.img-responsive {
		max-width: 30vw;
	}
}