$blue: #78aae6;
.container {
  width: 100%;
  color: $blue;
  font-size: 18px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

.navContainer ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.navContainer li {
  list-style-type: none;
  padding: 0 10px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: #1877E6;
}

.btn span {
  color: $blue;
}