$blue: #78aae6;

.card h1,h2,h3,h4 {
  color: #444;
  font-family: 'Poppins';
  font-weight: 100;
}

.card h2, h3 {
  font-weight: 600;
}

.card {
  box-shadow: 2px 2px 10px #aaa;
  padding: 20px 40px;
  margin: 10px;
}

.titleStyle {
  color: $blue;
}
