$bigSize: 200px;
$breakpoint-1: 600px;

.container {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  composes: largeHeader from 'sharedStyles/styles.css';
}

.baseText {
  color: #333;
  text-align: center;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.slogan {
  composes: baseText;
  font-size: 1.5em;
  //font-style: italic;
  color: #999;
}
.name {
  font-family: 'Poppins', sans-serif;
  composes: baseText;
  font-size: 2em;
  margin-top: 30px;
  font-weight: 700;
}

.nameLine {
  margin-top: 2em;
  display: flex;
  align-items: center;
  align-self: center;
}


.avatar {
  object-fit: cover;
  border-radius: 100%;
  width: $bigSize;
  height: $bigSize;
}

@media screen and (min-width: $breakpoint-1) {
  $bigSize: 250px;

  .avatar {
    width: $bigSize;
    height: $bigSize;
  }

}